<!-- footer.html -->
<style>
    /* Set a min-height for the body to push the footer to the bottom */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    /* Flex-grow: 1 pushes the content to the top and allows the footer to stick at the bottom */
    .content-wrapper {
        flex-grow: 1;
    }
</style>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">Restroom Monitoring &copy; 2023 Team ULTRON Wce Cse | All Right Reserved</span>
    </div>
</footer>
<!-- footer.html -->

